.candidate {
   display: flex;
   font-size: 0.9rem;
   flex-wrap: wrap;
   justify-content: center;

   &__item {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      &:not(:last-child) {
         border-right: solid 1px $background-color-primary;
      }

      & > label {
         color: $background-color-primary;
      }

      & > span {
         font-size: 0.8rem;
      }
   }
}
