*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   box-sizing: border-box;
   background: linear-gradient(
         $background-color-primary,
         $background-image-color
      ),
      url("./../../img/background.png");
   background-attachment: fixed;
   background-size: cover;
}
